<script>
const britecharts = require("britecharts");
const d3Selection = require("d3-selection");

export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    width: {
      type: Number,
      required: true
    },
    height: {
      type: Number,
      required: true
    }
  },
  created() {
    this.chart = new britecharts.bar();
    this.tooltip = new britecharts.miniTooltip();

    const margin = {
      left: 80,
      right: 20,
      top: 20,
      bottom: 40
    };

    this.chart
      .isAnimated(true)
      .isHorizontal(true)
      .margin(margin)
      .colorSchema(britecharts.colors.colorSchemas.britecharts)
      .valueLabel("quantity")
      .width(this.width)
      .height(this.height)
      .on("customMouseOver", this.tooltip.show)
      .on("customMouseMove", this.tooltip.update)
      .on("customMouseOut", this.tooltip.hide);
  },
  mounted() {
    this.draw();

    d3Selection
      .select(this.$refs.chart.querySelector(".metadata-group"))
      .datum([])
      .call(this.tooltip);
  },
  methods: {
    draw() {
      d3Selection
        .select(this.$refs.chart)
        .datum(this.data)
        .call(this.chart);
    }
  },
  watch: {
    width(value) {
      this.chart.width(value);
      this.draw();
    },
    height(value) {
      this.chart.height(value);
      this.draw();
    },
    data() {
      this.draw();
    }
  }
};
</script>

<template>
  <div ref="chart"></div>
</template>
