<script>
const britecharts = require("britecharts");
const d3Selection = require("d3-selection");

export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    width: {
      type: Number,
      required: true
    },
    height: {
      type: Number,
      required: true
    }
  },
  created() {
    this.chart = britecharts.donut();
    this.chart
      .isAnimated(true)
      .width(this.width)
      .height(this.height)
      .colorSchema(britecharts.colors.colorSchemas.britecharts);
  },
  mounted() {
    this.draw();
  },
  methods: {
    draw() {
      d3Selection
        .select(this.$refs.chart)
        .datum(this.data)
        .call(this.chart);
    }
  },
  watch: {
    width(value) {
      this.chart.width(value);
      this.draw();
    },
    height(value) {
      this.chart.height(value);
      this.draw();
    },
    data() {
      this.draw();
    }
  }
};
</script>

<template>
  <div ref="chart"></div>
</template>
