<script>
import "britecharts/dist/css/britecharts.min.css";
import BarChart from "./components/BarChart.vue";
import DonutChart from "./components/DonutChart.vue";
import { debounce } from "lodash";
import generateData from "./mock_data";

export default {
  components: {
    BarChart,
    DonutChart
  },
  data() {
    return {
      containerWidth: 300,
      chartData: generateData()
    };
  },
  created() {
    window.addEventListener("resize", this.handleResize);
  },
  beforeDestory() {
    window.removeEventListener("resize", this.handleResize);
  },
  mounted() {
    this.handleResize();
  },
  methods: {
    handleResize: debounce(function handleResize() {
      this.containerWidth = this.$refs.app.getBoundingClientRect().width - 32;
    }, 30),
    refreshData() {
      this.chartData = generateData();
    }
  }
};
</script>

<template>
  <div ref="app" id="app">
    <button @click="refreshData">Refresh Data</button>

    <h2>Bar Chart:</h2>
    <bar-chart
      :data="chartData"
      :width="containerWidth"
      :height="300"
    />

    <h2>Donut Chart:</h2>
    <donut-chart
      :data="chartData"
      :width="300"
      :height="300"
    />
  </div>
</template>

<style>
body {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: #eee;
}

#app {
  margin: 0 auto;
  padding: 16px;
  max-width: 700px;
  background: #fff;
}
</style>
